
<div class="container-xxl mb-auto d-flex py-2" style="flex-wrap:wrap;font-size:normal;font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;align-items:center;background-color:#222221;color:rgb(250, 250, 250);min-height:100px;border-radius:10px">
    <span class="col-12 d-flex my-1" style="justify-content:center">This website is a collaborative work of multiple university students and is only intended for education purposes only</span>
    <span class="col-12 d-flex my-1" style="white-space:pre-wrap;justify-content:center">Front end is made by Dư Thanh Huy, student's ID: 20120102. Back end is made by Lê Vĩ Nguyên, student's ID: 20120148</span>
    <span class="col-12 d-flex my-1" style="justify-content:center"></span>
    <span class="col-12 col-md-6 d-flex my-1" style="white-space:normal;justify-content:center">For further information, please contact through the following means:</span>
    <span class="col-12 col-md-6 d-flex my-1 p-0" style="flex-wrap:wrap;justify-content:center">
        
            <div class="container-fluid p-0">
            <div class="row">
                <span class="footerlink col-12 col-md-2 d-inline-flex" style="white-space:pre-wrap">Huy</span>
                <span class="col-12 col-md-10 d-inline-flex" style="overflow-wrap:break-word;flex-wrap:wrap;white-space:pre-wrap;justify-content:center;align-items:center">
                
                    <a class="footerlink col-12 d-flex" href="mailto:20120102@hcmus.edu.vn" style="color:inherit"><i class="fa-regular fa-envelope"></i> 20120102@student.hcmus.edu.vn</a>
                    <a class="footerlink col-12 d-flex" href="https://www.facebook.com/DuHuyWibu" style="color:inherit"><i class="fa-brands fa-facebook"></i> https://www.facebook.com/DuHuyWibu</a>
                
                </span>
            </div>
            </div>
            <div class="container-fluid p-0 mt-4">
            <div class="row">
                <span class="footerlink col-12 col-md-2 d-flex" style="white-space:pre-wrap">Nguyên</span>
                <span class="col-12 col-md-10 d-flex" style="overflow-wrap:break-word;flex-wrap:wrap;white-space:pre-wrap;justify-content:center;align-items:center">
                    
                    <a class="footerlink col-12 d-flex" href="mailto:20120148@hcmus.edu.vn" style="color:inherit"><i class="fa-regular fa-envelope"></i> 20120148@student.hcmus.edu.vn</a>
                    <a class="footerlink col-12 d-flex" href="https://www.facebook.com/levinguyennn" style="color:inherit"><i class="fa-brands fa-facebook"></i> https://www.facebook.com/levinguyennn</a>
                    
                </span>
            </div>
            </div>

    </span>
</div>
